@font-face {
	font-family: "SFProDisplay";
	src: url("../font/eot/SFProDisplay.eot");
	src: local("SFProDisplay"),
		url("../font/eot/SFProDisplay.eot?#iefix") format("embedded-opentype"),
		url("../font/woff2/SFProDisplay.woff2") format("woff2"),
		url("../font/woff/SFProDisplay.woff") format("woff"),
		url("../font/ttf/SFProDisplay.ttf") format("truetype");
}
@font-face {
	font-family: "SFProText";
	src: url("../font/eot/SFProText.eot");
	src: local("SFProText"),
		url("../font/eot/SFProText.eot?#iefix") format("embedded-opentype"),
		url("../font/woff2/SFProText.woff2") format("woff2"),
		url("../font/woff/SFProText.woff") format("woff"),
		url("../font/ttf/SFProText.ttf") format("truetype");
}
